
body { 
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/588/5/300/rick-and-morty-toilets-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#post {
    padding: 30px;

}

.